// @import 'variables';

@mixin btn-delete($item) {
  .delete-#{$item} {
    display: inline-flex;

    span {
      margin-left: 0.5rem;
    }

    a {
      margin-left: 0.5rem;
      color: $clr-error;
      text-decoration: none;
    }
  }
}
