@import 'variables';
@import 'mixins';

aside {
  section {
    padding: 0.625rem 0;
    margin-top: 1.25rem;

    &:first-child {
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 0.2rem;
    }

    h1 {
      display: flex;

      font-size: 1.4rem;
      text-align: start;
      letter-spacing: -1px;
      margin-top: 0;
      margin-bottom: 0.2rem;
    }
  }
}

.gravatar {
  margin-right: 0.625rem;
}

.gravatar_edit {
  margin-top: 1rem;
}

#error_explanation {
  color: $clr-error;
}

.users {
  @include btn-delete('user');

  list-style: none;

  & > * {
    margin: 0;
    padding: 0.625rem 0;
  }

  & > *:not(:last-of-type) {
    border-bottom: 1px solid $clr-light-gray;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
}

.microposts {
  @include btn-delete('micropost');

  .micropost {
    display: flex;
    padding: 0.625rem;
  }

  .micropost:not(:last-of-type) {
    border-bottom: 1px solid $clr-light-gray;
  }

  .user a {
    text-decoration: none;
  }

  .timestamp {
    color: $clr-light-gray;
  }

  nav {
    margin-top: 2rem;
  }
}

.user-card {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}
